page-about {


    $black-overlay: rgba(16, 238, 46, 0.3);
    $text-color: #666;
    $banner-text-color: white;
    $content-color: whitesmoke;
    $detail-background: rgba(236,236,236,.8);


    .toolbar-background {
        border-color: transparent;
        background: $black-overlay;
    }

    .bar-button,
    .toolbar-title {
        color: $banner-text-color;
    }
    
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }

      .fontstyle-italic{
        font-style:italic;
      }
}
