<ion-content>
  <ion-slides *ngIf="backgrounds && backgrounds.length" freeMode="true" slidesPerView="1" autoplay="3000" loop="true">
    <ion-slide *ngFor="let background of backgrounds" 
    [ngStyle]="{'background': 'url(' + background.image_url +') center'
              ,'background-repeat': 'no-repeat'
              ,'background-size':'cover'}">
    </ion-slide>
  </ion-slides>
  <div class="login-container">
    <button ion-button color="secondary" style="width: 100%;" (click)="navigate()">Order Now</button>
  </div>
</ion-content>