page-feedback {
    animation: fade-in .8s ease-in-out;
    @keyframes fade-in {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
  
    .scroll-content {
      background:color($colors,feedback);
    }
  
    ion-icon, div {
        color: white;
        font-weight: bold;
    }
<<<<<<< HEAD

    ion-item{
        background: transparent !important;
=======
    ion-item{
      background: transparent !important;
>>>>>>> 0aba97231d10bdc5810f5358bbd7b11afb50cb51
    }
}
