page-feedback {
    animation: fade-in .8s ease-in-out;
    @keyframes fade-in {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
  
    .scroll-content {
      background:color($colors,feedback);
    }
  
    ion-icon, div {
        color: white;
        font-weight: bold;
    }
<<<<<<< HEAD
    ion-item{
      background: transparent !important;
=======

    ion-item{
        background: transparent !important;
>>>>>>> adc0494eb823f920dfe07cd9fb0c4edc29e15ca8
    }
}
