page-cart {

    .custom-p{
        text-align: center;
        width: 24px;
        background-color: color($colors,secondary);
        font-size: 16px;
        margin-top: 4px;
        margin-left: -5px;
        margin-right: -5px;
        height: 25px;
        padding: 3px;
        color: white;
    }

    .custom-left-btn{
        border-radius: 5px;
        height: 25px;
        margin-right: -2px;
        width: 30px;
    }

    .custom-right-btn{
        border-radius: 5px;
        height: 25px;
        margin-left: -2px;
        width: 30px;
    }
    .list-md{
        margin-bottom: 7px !important;
    }
}
