.ios, .md{
page-home {

    .height-25{
      height: 25px;
    }
    .expandable-item{
      width: 92%;
      margin: 4%;
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: #fff;
      opacity: 0.7;
      font-size: 0.9em;
      transition: 0.2s linear;
    }
    h4 {
      color: white;
    }
    ion-slides,
    .swiper-container {
      width: 100%;
      height: 300px;
      margin: 20px auto;
    }
    .swiper-slide {
      background-size: cover !important;
      background-position: center !important;
    }
    .swiper-pagination-bullet {
      background-color: white;
    }
  }

    @mixin ribbonize ($ribbon-color, $text-color: white, $border-width: 3px) {
    span {
      color: $text-color;
      background: $ribbon-color;
      &::before {
        border-left: $border-width solid $ribbon-color;
        border-top: $border-width solid $ribbon-color;
      }
      &::after {
        border-right: $border-width solid $ribbon-color;
        border-top: $border-width solid $ribbon-color;
      }
    }
  }

  $default: #f53d3d;
  $cruzeiro: #387ef5;
  $atletico: darken(#f4f4f4, 45%);
  $javascript: #f7e023;

  .item-ribbon{
    background-color: #fff;
    position: relative;
    filter: none;
    opacity: 1;
    .ribbon {
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 2;
      overflow: hidden;
      width: 75px;
      height: 75px;
      text-align: right;
      span {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: $default;
        position: absolute;
        top: 19px;
        right: -21px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid $default;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid $default;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
      }
    }
  }

  .ribbon.cruzeiro {
    @include ribbonize($cruzeiro);
  }

  .ribbon.atletico {
    @include ribbonize($atletico);
  }

  .ribbon.javascript {
    @include ribbonize($javascript, black);
  }

  .custom-left-btn{
    border-radius: 5px;
    height: 25px;
    margin-right: -2px;
    width: 30px;
}

.custom-right-btn{
    border-radius: 5px;
    height: 25px;
    margin-left: -5px;
    width: 30px;
}
.custom-p{
  text-align: center;
  width: 24px;
  background-color: color($colors,secondary);
  font-size: 16px;
  margin-top: 4px;
  margin-left: -5px;
  margin-right: -5px;
  height: 25px;
  padding: 3px;
  color: white;
}
}
