.ios, .md{
page-home {

    ion-card{
        margin:0px !important;
        display: -webkit-inline-box;
        height: 200px;   
      }
        .ion-swipe{
          margin:0px !important;
          display: -webkit-inline-box;
          height: 200px;
          }

      // .card-background-page {

      //   ion-card {
      //     position: relative;
      //     text-align: center;
          
      //   }
      
      //   .card-title {
      //     position: absolute;
      //     top: 36%;
      //     font-size: 2.0em;
      //     width: 100%;
      //     font-weight: bold;
      //     color: #fff;
         
      //   }
      
      //   .card-subtitle {
      //     font-size: 1.0em;
      //     position: absolute;
      //     top: 52%;
      //     width: 100%;
      //     color: #fff;
      //   }
      
      // }
      ion-card {
        margin: 0 auto !important;
        max-width: 500px;
        background: #494949 !important;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8) !important;
    }
      
  .width-85{
    width: 60% !important;
  }

 
  

  .width-92{
    width: 92% !important;
  }


  .margin{
    margin: 150px 0px 0px -249px;
  }

  .margin-58{
    margin: 58px 0px 0px -78px !important;
  }
  
  .height-25{
    height: 25px !important;
  }
//header
  page-expandable-header {
		ion-item{
				width: 92%;
				margin: 4%;
				padding-left: 10px !important;
				margin-bottom: 10px;
				background-color: #fff;
				opacity: 0.7;
				font-size: 0.9em;
				transition: 0.2s linear;
			}
  }
  
  .the-header {
    position: relative;
    height: 30vh;

    .header-text {
        position: absolute;
        z-index: 2;
        top: 40px;
        left: 15px;
    }

    .header-text h1 {
        font-weight: bold;
    }

    .header-text p {
        padding-left: 2rem;
        font-weight: bold;
        color: white;
    }

    // .background {
    //     height: 30vh;
    //     position: relative;
    //     clip-path: polygon(0 0, 100% 0, 100% 170px, 0 115%);
    //     img {
    //         max-width: 34rem;
    //         position: absolute;
    //         right: -90px;
    //         bottom: 0;
    //     }
    }

    
}

}

