<ion-header>
    <expandable-header [scrollArea]="myContent" headerHeight="80">
      <ion-item>
          <ion-label><ion-icon name="search"></ion-icon></ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
    </expandable-header>
    <ion-navbar color="secondary">
       <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <h1 style="font-family: Colonna MT;
      font-size: 24px;
      font-weight: bold;
      color: white;
      margin: 5px;">Buhari</h1>
    </ion-navbar>
  
  </ion-header>

  <ion-content fullscreen #myContent>
      <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-10>
              <h3>Popular Cuisines Around You</h3>
          </ion-col>
      </ion-row>
      <ion-scroll scrollX="true" style="white-space:nowrap;height:210px;">
        <ion-row>
          <ion-col >
            <ion-card (click)="navitemlist()" class="width-85 ion-swipe" style="margin-right: 15px !important;"
              *ngFor="let dishes of dish">
              <img [src]="dishes.img" />
            
              <div class="card-title">{{dishes.dishtitle}}</div>
              <div class="card-subtitle ">{{dishes.paces}}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-scroll>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-5>
          <h4>Bestsellers</h4>
        </ion-col>
      </ion-row>
    
      <ion-item *ngFor="let bestitems of bestsellers">
        <ion-row>
          <ion-col col-1><img [src]="bestitems.img" /> </ion-col>
          <ion-col col-1></ion-col>
          <ion-col col-3>
            <b>{{bestitems.itemname}}</b>
            <p>{{bestitems.itemtype}}</p>
            <b>$ {{bestitems.prize}}</b>
          </ion-col>
          <ion-col col-3></ion-col>
          <ion-col col-4>
              <button class="height-25" ion-button color="secondary" style="text-transform: none;" outline>Add +</button>
          </ion-col>
        </ion-row>
    
      </ion-item>
    <!-- <header>
     <h1>Dummy Title</h1>
   </header>
   <main>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta dolor urna, quis iaculis eros tincidunt sed.
       Nunc tempor porttitor lacus, non ultrices sapien interdum non. Curabitur tempor efficitur tellus, id convallis felis varius eu.
       Pellentesque quis velit metus. Nam quis dictum quam. Integer ut mauris augue. Nulla at convallis mauris. Sed vel faucibus odio. 
       Proin eu ante in massa scelerisque auctor. Nulla at sapien id lectus ultricies dapibus at eu augue. Morbi ac volutpat nulla. 
       Morbi elit ex, accumsan vitae tincidunt eget, posuere id sem. Sed cursus sem ante, non fringilla augue mattis ac.</p>
     <p>Vestibulum finibus mi lacus, eget condimentum diam consequat eu. Donec fermentum accumsan libero, a fermentum ante faucibus vel.
        Etiam euismod mi nec efficitur tincidunt. Nulla facilisi. Vivamus nec malesuada turpis. Nulla ultricies non lacus vel scelerisque.
         Integer vulputate ex non rutrum scelerisque. Sed ac dapibus risus. Fusce blandit, mauris at semper venenatis, metus ipsum ultricies 
         lacus, quis suscipit nunc nibh ut tellus. Cras varius quam vel libero scelerisque accumsan. Pellentesque at luctus tortor. 
         In eleifend neque justo, porttitor auctor augue rhoncus ac. 
       Mauris ut eros eu sapien aliquet lacinia. Donec fringilla velit diam, eu maximus felis lacinia vel.</p>
     <p>Nullam eleifend ut eros sit amet aliquam. In mattis dolor non tortor vulputate, nec eleifend magna lobortis. 
       Vivamus id ex ultrices, mollis enim a, fringilla risus. Quisque vel aliquet diam. Morbi vitae facilisis elit. 
       Donec in pretium sapien. Phasellus rhoncus nisi ante, eget tempus nibh pretium non. Aliquam fringilla, odio sit 
       amet varius commodo, lacus metus volutpat nisi, in faucibus est urna non orci. Suspendisse rhoncus lobortis tortor, 
       sed placerat metus finibus sodales. Mauris at sapien placerat, efficitur leo at, auctor erat.
       In faucibus tellus sit amet leo vehicula, ac ultrices dui auctor. Duis maximus auctor metus a vulputate.</p>
     <p>Nullam eleifend ut eros sit amet aliquam. In mattis dolor non tortor vulputate, nec eleifend magna lobortis. 
       Vivamus id ex ultrices, mollis enim a, fringilla risus. Quisque vel aliquet diam. Morbi vitae facilisis elit. 
       Donec in pretium sapien. Phasellus rhoncus nisi ante, eget tempus nibh pretium non. Aliquam fringilla, odio sit 
       amet varius commodo, lacus metus volutpat nisi, in faucibus est urna non orci. Suspendisse rhoncus lobortis tortor, 
       sed placerat metus finibus sodales. Mauris at sapien placerat, efficitur leo at, auctor erat.
       In faucibus tellus sit amet leo vehicula, ac ultrices dui auctor. Duis maximus auctor metus a vulputate.</p>
   </main> -->
 </ion-content>
<!-- <ion-content fullscreen #myContent class="card-background-page">
  <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
          <h3>Popular Cuisines Around You</h3>
      </ion-col>
  </ion-row>
  <ion-scroll scrollX="true" style="white-space:nowrap;height:210px;">
    <ion-row>
      <ion-col >
        <ion-card (click)="navitemlist()" class="width-85 ion-swipe" style="margin-right: 15px !important;"
          *ngFor="let dishes of dish">
          <img [src]="dishes.img" />
        
          <div class="card-title">{{dishes.dishtitle}}</div>
          <div class="card-subtitle ">{{dishes.paces}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-scroll>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-5>
      <h4>Bestsellers</h4>
    </ion-col>
  </ion-row>

  <ion-item *ngFor="let bestitems of bestsellers">
    <ion-row>
      <ion-col col-1><img [src]="bestitems.img" /> </ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-3>
        <b>{{bestitems.itemname}}</b>
        <p>{{bestitems.itemtype}}</p>
        <b>$ {{bestitems.prize}}</b>
      </ion-col>
      <ion-col col-3></ion-col>
      <ion-col col-4>
          <button class="height-25" ion-button color="secondary" style="text-transform: none;" outline>Add +</button>
      </ion-col>
    </ion-row>

  </ion-item>
</ion-content> -->
