<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Billing Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-row>
       <h5>BILL DETAILS</h5>
   </ion-row>
   <ion-row  *ngFor="let item of itemdetails.items">
     <ion-col col-1>
      <img *ngIf="item.food_type == 'VEG'" src="../../assets/imgs/veg.png" /> 
      <img *ngIf="item.food_type == 'NON VEG'" src="../../assets/imgs/nonveg.png" /> 
     </ion-col>
     <ion-col col-1></ion-col>
     <ion-col col-6 class="margin-10">
       <p>{{item.food_name}}</p>
      </ion-col>
      <ion-col col-2></ion-col>
     <ion-col col-2 class="margin-p">
       <p> ₹ {{item.price}}</p>
     </ion-col>
   </ion-row>
   <ion-item-divider ></ion-item-divider>  
      <ion-row>
        <ion-col col-6>
          <p>Item Total</p>
          <p>GST</p>
        </ion-col>
        <ion-col col-3>
        </ion-col>
        <ion-col col-3>
          <p>₹ 600</p>
          <p>₹ 9.45</p>
        </ion-col>
      </ion-row>
      <ion-item-divider ></ion-item-divider>
      <ion-row>
        <ion-col col-4 style="text-align:center;">
            <h6>Total</h6>
        </ion-col>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4 style="text-align:center;">
          <h6>₹ {{itemdetails.total_amount}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button outline color="secondary" class="pop-in" [hidden]="!showIcon" style="width: 100%;"
          [ngClass]="{ 'expand' : expanded, 'contract': contracted }" (click)="expand()">Cash</button>          
        </ion-col>
        <ion-col col-6>
            <button ion-button [hidden]="!showIcon" outline color="secondary" class="pop-in" style="width: 100%;"
            [ngClass]="{ 'expand' : expanded, 'contract': contracted }" (click)="expand()">Card</button>          
          </ion-col>
      </ion-row>
</ion-content>
