page-billingdetails {


    .padding-20{
        padding: 20px 10px 12px 0px !important;
    }

    .margin-10{
        margin: -14px !important;
    }

    .margin-4{
    margin: 4px;
    position: absolute;
    }

    .margin-p{
        margin: -15px 13px !important;
    }
}
