page-billingdetails {


    .padding-20{
        padding: 20px 10px 12px 0px !important;
    }

    .margin-10{
        margin: -14px !important;
    }

    .margin-4{
    margin: 4px;
    position: absolute;
    }

    .margin-p{
        margin: -15px 13px !important;
    }
    
  .preload {
    animation: none !important;
  }

  .expand {
      animation: expand 0.5s cubic-bezier(.66, .35,.96,.38) forwards;
  }

  .contract {
    animation: contract 0.4s cubic-bezier(0.75, .80, 0.25, 0) forwards;
  }


  @keyframes contract {
    0%   {
      transform: scale(0);
      border-radius: 100%;
      margin: 0;
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes expand {
    50%  {
      transform: scale(100);
    }
    100% {
      transform: scale(100);
      border-radius: 100%;
      margin: 0;
    }
  }

  ion-card {
    position: relative;
    height: 80vh;

    h4 {
       left: 5%;
       bottom: 3%;
       position: absolute;
    }
  }

  ion-button {
    transition: 1s all ease;
    margin-top: 20rem !important;
    margin-right: 3rem !important;
    background: #ff8d00;
    transition: display 1s ease-in;
  }
}
