<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      {{item_name}}
    </ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
    <ion-row>
      <ion-slides *ngIf="item_images && item_images.length" pager autoplay="3000" loop="true" slidesPerView="1">
        <ion-slide *ngFor="let image of item_images">
          <img class="minwidth-100" [src]="image.item_image"/>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row padding>
      <h5>Description</h5>
      <p>{{item_description}}</p>  
    </ion-row>
    
</ion-content>
